<!DOCTYPE html>
<html ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
      <title>Assignment1 - Lunch Check</title>
  </head>
  <body >
    <h1>Welcome to my 1st assignment</h1>
    <div class="user" ng-controller="LunchCheckController">
      <div>
        Please enter what you usually eat for lunch [separate using comma]:
        <input type="text" placeholder="please enter here" ng-model="userinput">
        <br>
        <button type="submit" ng-click="respond();">Check If Too Much</button>
        <p style="color:{{c}};">{{message}}</p>
      </div>
    </div>
  </body>
</html>
